[loggers]
keys=root

[formatters]
keys=fmt1

[handlers]
keys=stdout,file

[logger_root]
level=NOTSET
handlers=stdout,file

[formatter_fmt1]
class=logging.Formatter
format=%(asctime)s| %(levelname)8s| %(name)12s| %(message)s
datefmt=%Y-%m-%d %H:%M:%S
style=%
validate=True

[handler_stdout]
class=StreamHandler
formatter=fmt1
level=DEBUG
args=(sys.stdout,)

[handler_file]
class=FileHandler
formatter=fmt1
level=DEBUG
args=('%(logfilename)s',)
kwargs={'encoding': 'utf8'}

